{% extends 'base.html' %}

{% block head %}
<title>Comment</title>
{% endblock %}

{% block content %}
<h1 style="color:rgb(229,9,20);font-family: 'Pretendard';text-align:center;padding-top:30px; padding-bottom:15px; font-weight:700">New Comment</h1>
<hr style="border-color: white;">
<form method="POST" class="post-form" style="color:white;font-family: 'Pretendard'; ">
    {% csrf_token %}
    <p>닉네임:</p>
    <input type="text" name="username" placeholder="닉네임을 입력하세요" style="width:400px; height:25px"></p>
    <p>내용 :</p>
    <div style="margin-bottom:17px">
    <textarea name="comment_text" cols="54" rows="10" placeholder="내용을 입력하세요"; font-family: inherit;></textarea>
    </div>
    <hr style="border-color: white;">
    <!--<button type="submit" class="save btn btn-default" style="color: rgb(255, 255, 255);font-family: 'Pretendard'; float:left; margin:5px; font-weight: 400; font-size:14px; border-color:white;">등록</button>-->
    <button type="submit" style="color: rgb(0, 0, 0);font-family: 'Pretendard'; float:left; margin:5px; font-weight: 600; font-size:14px">등록</button>
</form>
{% endblock %}