{% extends 'base.html' %}

{% block head %}
<title>Detail</title>
{% endblock %}

{% block content %}
<div style="margin:10px; margin-bottom:15px; margin-top:60px; margin-left:15px">
<h3 style="color:rgb(229,9,20); display:inline; font-family: 'Pretendard';">[</h3>
<h3 style="color:rgb(255, 255, 255); display:inline; font-family: 'Pretendard';">{{blog.type}}</h3>
<h3 style="color:rgb(229,9,20); display:inline; font-family: 'Pretendard';">]</h3>
<h3 style="color:rgb(255, 255, 255); display:inline; font-family: 'Pretendard';">{{blog.title}}</h3>
</div>

<div style="color:rgb(134, 134, 134); display:inline; font-family: 'Pretendard'; margin:10px; margin-left:15px;">
    {{blog.date}}
</div>
<br>
<hr style="border-color: white; margin:10px; margin-top:25px; margin-bottom:25px;">

<div style="color:rgb(255, 255, 255); font-family: 'Pretendard'; margin:15px;">
    {{blog.body}}
</div>
<br>
{% if blog.photo %}
<div style="margin-left:15px;">
<img src="{{ blog.photo.url }}" alt="" height="250px;">
</div>
{% endif %}
<br>
<div style="color:white; font-family:'Pretendard'; margin:15px;">
    {% for hashtag in hashtags.all %}
    <p style="color:rgb(229,9,20); display:inline">#</p>
    {{hashtag}}
    {% endfor %}
</div>
<hr style="border-color: white; margin:10px; margin-top:25px; margin-bottom:15px;">
<button type="button" onClick="location.href='{% url 'delete' blog.id%}'" style="color: rgb(0, 0, 0);font-family: 'Pretendard'; font-weight: 600; float:right; margin:5px; font-size:14px; margin-right:15px">삭제하기</button>
<button type="button" onClick="location.href='{% url 'update_page' blog.id%}'" style="color: rgb(0, 0, 0);font-family: 'Pretendard'; font-weight: 600; float:right; margin:5px; font-size:14px">수정하기</button>



<!--
<p style="color:rgb(229,9,20); margin:10px; font-family: 'Pretendard'; font-weight: 700;">댓글</p>
-->
<br><br><br>
<h2 style="color:rgb(229,9,20); margin:15px; display:inline; font-weight:700;">Comment</h2>
<div style="float:right; display: inline;">
    <a class="add_comment" href="{% url 'add_comment' blog.id %}" style="margin:15px; display:inline ; font-family:'Pretendard'; color:rgb(134, 134, 134); font-size:23px; text-decoration-line: none; margin-right:25px">+</a>
</div>

<br>
{% for comment in blog.comments.all %}
<hr style="border-color: white; margin:10px; margin-top:15px; margin-bottom:10px;">
<div class="comment" style="color:white; margin:20px; font-family: 'Pretendard';">
    <strong class="username" style="font-weight:700"><{{comment.username}}></strong>
    <a href="{% url 'delete_comment' blog.id comment.id %}" style="font-family:'Pretendard'; color:rgb(134, 134, 134); display:inline;float:right;margin-right:10px">삭제하기</a>
    <a href="{% url 'comment_detail' comment.id %}" style="font-family:'Pretendard'; color:rgb(134, 134, 134); display:inline;float:right;margin-right:10px">수정하기</a>
    <div class="date" style="color:rgb(134,134,134)">{{comment.created_at}}</div>
    <P style="padding:0px;">{{comment.comment_text|linebreaks}}</P>
</div>
{% empty %}
<p style="color:white; font-family:'Pretendard'; margin:15px">아직 댓글이 없어요:(</p>
{% endfor %}

<hr style="border-color: white; margin:10px; margin-top:20px; margin-bottom:20px;">

<button type="button" onClick="location.href='http://127.0.0.1:8000/'" style="color: rgb(229,9,20);font-family: 'Pretendard'; font-weight: 600; float:left; margin:5px; margin-left:10px; font-size:14px">홈으로 돌아가기</button>
<!--<a href="{% url 'delete' blog.id%}" style="color:rgb(229,9,20); margin:10px; font-family: 'Pretendard';">삭제하기</a>
<a href="{% url 'update_page' blog.id%}" style="color:rgb(229,9,20); margin:10px; font-family: 'Pretendard';">수정하기</a>-->
<br>
{% endblock %}