{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="{% static 'css/test2.css' %}">
<title>MuShare</title>
{% endblock %}

{% block content %}
    <h2 style="color:white; margin:15px; padding:30px; padding-top:50px; padding-bottom:0px; text-align: center; font-size:30px; font-family:'Times New Roman', Times, serif; font-style:italic">"Share Your Musical Experience"</h2>
    <h1 style="color:rgb(229,9,20); text-align:center; font-size:50px; font-family: 'Elephant'; padding-top:15px; padding-bottom:10px;font-weight: 400;">MuShare</h1>

    <div style="text-align:center; margin-bottom:40px;">
    <img src="{% static 'img/하이.png' %}" alt="" width="200px;" >
    </div>

    <hr style="border-color: white;">
    <h2 style="color:rgb(229,9,20); margin:15px;display:inline; text-align: left; font-size:30px; font-weight:700">Posts</h2>
    <button type="button" onClick="location.href='http://127.0.0.1:8000/new/'" style="color: rgb(229,9,20); font-family: 'Pretendard'; float:right; margin:5px;">New Post</button>
    {% for blog in blogs.all %}
    
    <hr style="border-color: white;">
    
    <div style="color:white; margin:0px; padding:10px; border:2px solid; border-color:rgb(0, 0, 0); border-radius:10px; background-color: rgb(0, 0, 0); font-family: 'Pretendard';">
    <h4 style="color:rgb(255, 255, 255); display:inline; font-family: 'Pretendard';font-weight:600;">[{{blog.type}}]</h4>
    <h4 style="display:inline; font-family: 'Pretendard';">{{blog.title}}</h4>
    <div style="color:rgb(134, 134, 134); display:inline; font-family: 'Pretendard';">
      {{blog.date}}
    </div>
    
    <br>
    <br>
    {{blog.summary}}
    <a href="{% url 'detail' blog.id%}" style="color:rgb(229,9,20); font-family: 'Pretendard';">...more</a>
    </div>
    
    {% endfor %}
    <hr style="border-color: white;">
{% endblock %}