{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="{% static 'css/test2.css' %}">
<title>Home</title>
{% endblock %}

{% block content %}

<h1>따봉도치야 고마워 🦔</h1>

{% if user.is_authenticated %}
    아이디: {{user.username}} | 닉네임: {{user.nickname}} | 대학: {{user.university}} | 위치: {{user.location}} | 선호장르: {{user.genre}}
{% endif %}
<br>
<a href="{% url 'new' %}">따봉을 날려주세요</a>

{% for ddabong in ddabongs.all %}
<div style="margin:10px; padding:5px; border:1px solid; border-color: gray; 
border-radius: 10px; background-color: #f9b1d1; ">
<h3>{{ddabong.title}}</h3>
{{ddabong.date}}
<br>
{{ddabong.summary}}
<a href="{% url 'detail' ddabong.id%}">...더보기</a>
</div>

{% endfor %}
{% endblock%}